* {
	padding: 0;
	margin: 2px;
	font-family: Helvetica;
}

body {
	margin: 5px 10px;
	font-size: 1em;
}

header {
	width: 100%;
	text-align: center;
}

header figure, header form {
	width: 48%;
	padding: 50px 10px;
	display: inline-block;
	background: #66CC33;
	text-align: center;
}

header form {
	font-size: 1.3em;
}

nav {
	background: #FBF072;
	text-align: center;
	padding: 20px 0;	
	margin-bottom: 4px;
}

#galeria {
	background: #66CC33;
	text-align: center;
	padding: 55px 0;
}

main {
	width: 100%;
	text-align: center;
}

.producto {
	background: #66CC33;
	display: inline-block;
	width: 19.5%;
	margin: 2px auto;
	text-align: center;
	padding: 40px 0;
}

article {
	width: 49%;
	display: inline-block;
	background: #66CC33;
	padding: 50px 0;
	text-align: center;
}

footer {
	background: #66CC33;
	padding: 40px 0;
	text-align: center;
}